# EPA Metadata Scrape

In [175]:
import pandas as pd
import numpy as np
import requests
import lxml.html as lh
from bs4 import BeautifulSoup

### Stream Data

In [176]:
wqp_n_station_list_stream = pd.read_csv('C://Users/robert.taylor/Downloads//N_WQP_station_meta_stream.csv',converters={'USGSPCode': lambda x: str(x)})

In [177]:
print(len(wqp_n_station_list_stream))

205

In [178]:
wqp_n_station_list_stream['MonitoringLocationIdentifier'].value_counts()

USGS-02318778             1
21FLSUW-ICH010C1          1
21FLGW_WQX-3529           1
21FLSUW-SUW240C1          1
USGS-02318500             1
                         ..
21FLSUW_WQX-WIT010C1      1
USGS-02315626             1
USGS-02317500             1
USGS-02317740             1
21FLESPI_WQX-SC CR 25A    1
Name: MonitoringLocationIdentifier, Length: 205, dtype: int64

In [179]:
wqp_n_results_stream = pd.read_csv('C://Users/robert.taylor/Downloads//N_WQP_results_meta_stream.csv', converters={'USGSPCode': lambda x: str(x)})

In [180]:
count_nu_stream = pd.DataFrame(wqp_n_results_stream['MonitoringLocationIdentifier'].value_counts())
count_nu_stream_df = count_nu_stream.rename(columns={'MonitoringLocationIdentifier':'count_nu'})

In [181]:
display(count_nu_stream_df)

                        count_nu
USGS-02318500                694
USGS-02314500                473
USGS-02317797                391
USGS-02320500                290
21FLGW_WQX-3538              275
...                          ...
21FLSUW-ROK010C1              20
USGS-02317920                 20
21GAEPD_WQX-0901020202        20
21GAEPD_WQX-0902110302        20
21FLSUW-SUW030C1              20

[205 rows x 1 columns]

In [182]:
pd.DataFrame(wqp_n_station_list_stream['OrganizationIdentifier'].value_counts())

              OrganizationIdentifier
USGS-GA                           55
21FLSUW                           37
21GAEPD_WQX                       30
21FLSUW_WQX                       25
USGS-FL                           19
21FLACEP_WQX                       9
21FLESPI_WQX                       8
21FLGW_WQX                         8
21FLA_WQX                          6
21FLFSI_WQX                        6
21FLTLHR_WQX                       1
21FLWQA_WQX                        1

In [183]:
wqp_stream_site_list_count_df = pd.merge(count_nu_stream_df, wqp_n_station_list_stream, left_index=True, right_on='MonitoringLocationIdentifier')
wqp_stream_site_list_count_df = wqp_stream_site_list_count_df.sort_index()
display(wqp_stream_site_list_count_df)

,count_nu,OrganizationIdentifier,OrganizationFormalName,MonitoringLocationIdentifier,MonitoringLocationName,MonitoringLocationTypeName,MonitoringLocationDescriptionText,HUCEightDigitCode,DrainageAreaMeasure/MeasureValue,DrainageAreaMeasure/MeasureUnitCode,...,CountyCode,AquiferName,FormationTypeText,AquiferTypeName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,28,USGS-FL,USGS Florida Water Science Center,USGS-02314274,"SUWANNEE RIVER (AT SILL) NEAR FARGO, GA",Stream,NaN,3110201,29.5,sq mi,...,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,26,USGS-FL,USGS Florida Water Science Center,USGS-023142741,NORTH FORK SUWANNEE RIVER AT SILL NEAR FARGO GA,Stream,NaN,3110201,NaN,NaN,...,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
2,46,USGS-FL,USGS Florida Water Science Center,USGS-02314986,"ROCKY CREEK NR BELMONT,FLA.",Stream,NaN,3110201,50.0,sq mi,...,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,104,USGS-FL,USGS Florida Water Science Center,USGS-02315000,SUWANNEE R NR BENTON FLA,Stream,NaN,3110201,2090.0,sq mi,...,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,80,USGS-FL,USGS Florida Water Science Center,USGS-02315005,HUNTER CREEK NEAR BELMONT FLA,Stream,NaN,3110201,25.0,sq mi,...,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,86,21GAEPD_WQX,Georgia DNR Environmental Protection Division,21GAEPD_WQX-RV_09_3181,"Suwannee River - U.S. Highway 441 near Fargo, GA",River/Stream,NaN,3110201,NaN,NaN,...,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
201,22,21GAEPD_WQX,Georgia DNR Environmental Protection Division,21GAEPD_WQX-RV_09_3209,New River - U.S. Highway 82 Near Tifton,River/Stream,NaN,3110203,NaN,NaN,...,277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
202,25,21GAEPD_WQX,Georgia DNR Environmental Protection Division,21GAEPD_WQX-RV_09_3230,"Piscola Creek at State Road 38 near Dixie, GA",River/Stream,NaN,3110203,NaN,NaN,...,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
203,74,21GAEPD_WQX,Georgia DNR Environmental Protection Division,21GAEPD_WQX-RV_09_3236,Withlacoochee River at Clyattsville-Nankin Roa...,River/Stream,NaN,3110203,NaN,NaN,...,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
204,32,21GAEPD_WQX,Georgia DNR Environmental Protection Division,21GAEPD_WQX-RV_09_5070,Reedy Creek at East Broad Street near Norman P...,River/Stream,NaN,3110204,NaN,NaN,...,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET

### Spring Data

In [184]:
wqp_n_station_list_spring = pd.read_csv('C://Users/robert.taylor/Downloads//N_WQP_station_meta_spring.csv',converters={'USGSPCode': lambda x: str(x)})

In [185]:
print(len(wqp_n_station_list_spring))

66

#

In [186]:
wqp_n_station_list_spring['MonitoringLocationIdentifier'].value_counts()

USGS-02323566                            1
21FLFSI_WQX-GILCHRIST BLUE SPRING RUN    1
21FLSUW_WQX-BLM010C1                     1
21FLGW_WQX-10786                         1
21FLFSI_WQX-SANTA FE RIVER RISE          1
                                        ..
USGS-02319302                            1
21FLSUW_WQX-ALA112971                    1
21FLFSI_WQX-GILCHRIST BLUE SPRING        1
21FLSUW_WQX-ALR010C1                     1
21FLSUW_WQX-LRS010C1                     1
Name: MonitoringLocationIdentifier, Length: 66, dtype: int64

In [187]:
wqp_n_results_spring = pd.read_csv('C://Users/robert.taylor/Downloads//N_WQP_results_meta_spring.csv', converters={'USGSPCode': lambda x: str(x)})

In [188]:
count_nu_spring = pd.DataFrame(wqp_n_results_spring['MonitoringLocationIdentifier'].value_counts())
count_nu_spring_df = count_nu_spring.rename(columns={'MonitoringLocationIdentifier':'count_nu'})
display(count_nu_spring_df)

                         count_nu
USGS-02322688                 184
USGS-02319302                 174
USGS-02320250                 149
USGS-02319950                 147
USGS-02323566                 141
...                           ...
21FLTLHR_WQX-G1TLHR0027        23
21FLGW_WQX-11407               23
21FLSUW_WQX-HOL010C1           22
21FLSUW_WQX-127898             21
21FLSUW_WQX-127840             21

[66 rows x 1 columns]

In [189]:
pd.DataFrame(wqp_n_station_list_spring['OrganizationIdentifier'].value_counts())

              OrganizationIdentifier
21FLSUW_WQX                       30
21FLGW_WQX                        18
USGS-FL                            8
21FLFSI_WQX                        8
21FLA_WQX                          1
21FLTLHR_WQX                       1

In [190]:
wqp_spring_site_list_count_df = pd.merge(count_nu_spring_df, wqp_n_station_list_spring, left_index=True, right_on='MonitoringLocationIdentifier')
wqp_spring_site_list_count_df = wqp_spring_site_list_count_df.sort_index()
display(wqp_spring_site_list_count_df)

,count_nu,OrganizationIdentifier,OrganizationFormalName,MonitoringLocationIdentifier,MonitoringLocationName,MonitoringLocationTypeName,MonitoringLocationDescriptionText,HUCEightDigitCode,DrainageAreaMeasure/MeasureValue,DrainageAreaMeasure/MeasureUnitCode,...,CountyCode,AquiferName,FormationTypeText,AquiferTypeName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,174,USGS-FL,USGS Florida Water Science Center,USGS-02319302,"MADISON BLUE SPRING NR BLUE SPRINGS, FL",Spring,NaN,3110203,NaN,NaN,...,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,94,USGS-FL,USGS Florida Water Science Center,USGS-02319520,"FALMOUTH SPRING AT FALMOUTH, FL",Spring,NaN,3110205,NaN,NaN,...,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
2,147,USGS-FL,USGS Florida Water Science Center,USGS-02319950,"BLUE SPRINGS NEAR DELL,FL",Spring,NaN,3110205,NaN,NaN,...,67,Floridan aquifer system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,149,USGS-FL,USGS Florida Water Science Center,USGS-02320250,TROY SPRING NEAR BRANFORD FLA,Spring,NaN,3110205,NaN,NaN,...,67,NaN,Ocala Limestone,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,59,USGS-FL,USGS Florida Water Science Center,USGS-02322400,GINNIE SPRING NR HIGH SPRINGS FLA,Spring,NaN,3110206,NaN,NaN,...,41,Floridan aquifer system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,26,21FLSUW_WQX,Suwannee River Water Management District,21FLSUW_WQX-SSS010C1,SUWANNEE SPRINGS,Spring,SUWANNEE SPRINGS,3110201,NaN,NaN,...,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
62,37,21FLSUW_WQX,Suwannee River Water Management District,21FLSUW_WQX-SUW718971,UN-NAMED SPRING,Spring,UN-NAMED SPRING,3110205,NaN,NaN,...,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
63,37,21FLSUW_WQX,Suwannee River Water Management District,21FLSUW_WQX-TEL010C1,TELFORD SPRINGS,Spring,TELFORD SPRINGS,3110205,NaN,NaN,...,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
64,47,21FLSUW_WQX,Suwannee River Water Management District,21FLSUW_WQX-TRY010C1,TROY SPRINGS,Spring,TROY SPRINGS,3110205,NaN,NaN,...,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
65,23,21FLTLHR_WQX,FDEP TALLAHASSEE REGIONAL OPERATIONS CENTER,21FLTLHR_WQX-G1TLHR0027,Ellaville Spring,Spring,NaN,3110205,NaN,NaN,...,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET

### Well Data

In [191]:
wqp_n_station_list_well = pd.read_csv('C://Users/robert.taylor/Downloads//N_WQP_station_meta_well.csv',converters={'USGSPCode': lambda x: str(x)})

In [192]:
print(len(wqp_n_station_list_well))

99

In [193]:
wqp_n_station_list_well['MonitoringLocationIdentifier'].value_counts()

21FLSUW--081535002      1
USGS-300800083080002    1
USGS-300800083150009    1
21FLSUW--091628005      1
USGS-300200083090005    1
                       ..
21FLSUW--011420006      1
21FLGW_WQX-2187         1
21FLSUW--061401003      1
21FLSUW--041734002      1
USGS-301154083111901    1
Name: MonitoringLocationIdentifier, Length: 99, dtype: int64

In [194]:
wqp_n_results_well = pd.read_csv('C://Users/robert.taylor/Downloads//N_WQP_results_meta_well.csv', converters={'USGSPCode': lambda x: str(x)})

In [195]:
count_nu_well = pd.DataFrame(wqp_n_results_well['MonitoringLocationIdentifier'].value_counts())
count_nu_well_df = count_nu_well.rename(columns={'MonitoringLocationIdentifier':'count_nu'})

In [196]:
display(count_nu_well_df)

                      count_nu
USGS-300800083080004        93
USGS-300200083090005        81
USGS-300800083150007        79
USGS-300200083090006        75
USGS-300800083150008        69
...                        ...
USGS-302017083111201        21
21FLSUW--0101303003         21
21FLSUW-11510003            21
21FLSUW--081535002          20
21FLSUW--0111631002         20

[99 rows x 1 columns]

In [197]:
pd.DataFrame(wqp_n_station_list_well['OrganizationIdentifier'].value_counts())

            OrganizationIdentifier
21FLSUW                         59
USGS-FL                         32
21FLGW_WQX                       6
USGS-GA                          2

In [200]:
wqp_well_site_list_count_df = pd.merge(count_nu_well_df, wqp_n_station_list_well, left_index=True, right_on='MonitoringLocationIdentifier')
wqp_well_site_list_count_df = wqp_well_site_list_count_df.sort_index()

,count_nu,OrganizationIdentifier,OrganizationFormalName,MonitoringLocationIdentifier,MonitoringLocationName,MonitoringLocationTypeName,MonitoringLocationDescriptionText,HUCEightDigitCode,DrainageAreaMeasure/MeasureValue,DrainageAreaMeasure/MeasureUnitCode,...,CountyCode,AquiferName,FormationTypeText,AquiferTypeName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,24,USGS-FL,USGS Florida Water Science Center,USGS-300143082565903,ROBERTS-4 W-17269,Well,NaN,3110205,NaN,NaN,...,121,Floridan aquifer system,Floridan Aquifer System,Unconfined single aquifer,19950617.0,42.6,ft,42.6,ft,NWIS
1,63,USGS-FL,USGS Florida Water Science Center,USGS-300200083090001,TRAWICK L3-1,Well,NaN,3110205,NaN,NaN,...,67,Surficial aquifer system,Surficial Aquifer System,NaN,19900216.0,NaN,NaN,NaN,NaN,NWIS
2,54,USGS-FL,USGS Florida Water Science Center,USGS-300200083090002,TRAWICK L3-2,Well,NaN,3110205,NaN,NaN,...,67,Intermediate aquifer system,Hawthorn Formation,NaN,19900216.0,NaN,NaN,NaN,NaN,NWIS
3,36,USGS-FL,USGS Florida Water Science Center,USGS-300200083090003,TRAWICK L3-3,Well,NaN,3110205,NaN,NaN,...,67,Surficial aquifer system,Surficial Aquifer System,NaN,19900215.0,NaN,NaN,NaN,NaN,NWIS
4,42,USGS-FL,USGS Florida Water Science Center,USGS-300200083090004,TRAWICK BARN WELL,Well,NaN,3110205,NaN,NaN,...,67,Floridan aquifer system,Upper Floridan Aquifer,NaN,NaN,63.0,ft,63.0,ft,NWIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,21,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-11510003,JOHN FOLKS-0DOF-0CHRISTIE TWR,Well,JOHN FOLKS-0DOF-0CHRISTIE TWR,3110201,NaN,NaN,...,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
95,23,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-11714002,HORACE HART OLD BENTON,Well,HORACE HART OLD BENTON,3110201,NaN,NaN,...,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
96,27,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-21036001,WILLIAM LASSITER,Well,WILLIAM LASSITER,3110203,NaN,NaN,...,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
97,22,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-21332004,JOHN FOLKS-0DOF-0ALAPAHA TOWER,Well,JOHN FOLKS-0DOF-0ALAPAHA TOWER,3110202,NaN,NaN,...,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
98,24,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-31034003,JOHN BLALOCK,Well,JOHN BLALOCK,3110203,NaN,NaN,...,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET

0     30.029672
1     30.033557
2     30.033557
3     30.033557
4     30.033557
        ...
94    30.499993
95    30.492083
96    30.525669
97    30.531194
98    30.614818
Name: LatitudeMeasure, Length: 99, dtype: float64

In [201]:
epa_all_sites_meta_df = pd.concat((wqp_spring_site_list_count_df,wqp_stream_site_list_count_df,wqp_well_site_list_count_df))

In [202]:
display(epa_all_sites_meta_df)

,count_nu,OrganizationIdentifier,OrganizationFormalName,MonitoringLocationIdentifier,MonitoringLocationName,MonitoringLocationTypeName,MonitoringLocationDescriptionText,HUCEightDigitCode,DrainageAreaMeasure/MeasureValue,DrainageAreaMeasure/MeasureUnitCode,...,CountyCode,AquiferName,FormationTypeText,AquiferTypeName,ConstructionDateText,WellDepthMeasure/MeasureValue,WellDepthMeasure/MeasureUnitCode,WellHoleDepthMeasure/MeasureValue,WellHoleDepthMeasure/MeasureUnitCode,ProviderName
0,174,USGS-FL,USGS Florida Water Science Center,USGS-02319302,"MADISON BLUE SPRING NR BLUE SPRINGS, FL",Spring,NaN,3110203,NaN,NaN,...,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,94,USGS-FL,USGS Florida Water Science Center,USGS-02319520,"FALMOUTH SPRING AT FALMOUTH, FL",Spring,NaN,3110205,NaN,NaN,...,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
2,147,USGS-FL,USGS Florida Water Science Center,USGS-02319950,"BLUE SPRINGS NEAR DELL,FL",Spring,NaN,3110205,NaN,NaN,...,67,Floridan aquifer system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
3,149,USGS-FL,USGS Florida Water Science Center,USGS-02320250,TROY SPRING NEAR BRANFORD FLA,Spring,NaN,3110205,NaN,NaN,...,67,NaN,Ocala Limestone,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
4,59,USGS-FL,USGS Florida Water Science Center,USGS-02322400,GINNIE SPRING NR HIGH SPRINGS FLA,Spring,NaN,3110206,NaN,NaN,...,41,Floridan aquifer system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,21,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-11510003,JOHN FOLKS-0DOF-0CHRISTIE TWR,Well,JOHN FOLKS-0DOF-0CHRISTIE TWR,3110201,NaN,NaN,...,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
95,23,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-11714002,HORACE HART OLD BENTON,Well,HORACE HART OLD BENTON,3110201,NaN,NaN,...,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
96,27,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-21036001,WILLIAM LASSITER,Well,WILLIAM LASSITER,3110203,NaN,NaN,...,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
97,22,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-21332004,JOHN FOLKS-0DOF-0ALAPAHA TOWER,Well,JOHN FOLKS-0DOF-0ALAPAHA TOWER,3110202,NaN,NaN,...,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET
98,24,21FLSUW,Suwannee River Water Management District (Flor...,21FLSUW-31034003,JOHN BLALOCK,Well,JOHN BLALOCK,3110203,NaN,NaN,...,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STORET

In [210]:
pd.DataFrame(epa_all_sites_meta_df['OrganizationFormalName'].value_counts())

                                                    OrganizationFormalName
Suwannee River Water Management District (Florida)                      96
USGS Florida Water Science Center                                       59
USGS Georgia Water Science Center                                       57
Suwannee River Water Management District                                55
FL Dept. of Environmental Protection                                    32
Georgia DNR Environmental Protection Division                           30
HOWARD T ODUM FLORIDA SPRINGS INSTITUTE                                 14
Alachua County Environmental Protection Departm...                       9
ENVIRONMENTAL SERVICES AND PERMITTING, INC.                              8
FL Dept. of Environmental Protection, Northeast...                       7
FDEP TALLAHASSEE REGIONAL OPERATIONS CENTER                              2
FDEP Watershed Assessment Section (WAS)                                  1